fastapi
uvicorn
requests
python-dotenv
httpx
aiohttp
pypdf
pymongo
motor
pdf2image
jinja2
weasyprint
beautifulsoup4
python-multipart
python-dateutil
pytz
celery
groq
llama-cloud
assemblyai
htmldocx 
twilio
pika
python-docx
pandas

pydantic[email]

passlib[bcrypt]==1.7.4
bcrypt==4.0.1

PyPDF2
pymupdf
pytesseract
pillow
aiofiles

slowapi
img2pdf
email-validator

python-jose[cryptography]
premailer