fastapi
uvicorn
python-dotenv
httpx
pika

pymongo
motor

pydantic[email]
passlib[bcrypt]

aiofiles
pillow
pymupdf
pytesseract
PyPDF2

groq
python-jose[cryptography]
pytz



fastapi
uvicorn
requests
requests-oauthlib
itsdangerous
PyJWT
cryptography