fastapi
uvicorn
requests
python-dotenv
httpx
pymongo
fastapi-login
groq
jinja2
python-multipart
pytz

fastapi
uvicorn
jinja2

pymongo
motor

python-dotenv
python-dateutil
pytz

httpx
aiohttp

pandas

groq
assemblyai

pydantic[email]
passlib[bcrypt]

PyPDF2
pymupdf
pytesseract
pillow
aiofiles


bcrypt==4.0.1
passlib[bcrypt]==1.7.4

slowapi

email-validator

python-jose[cryptography]

pika
celery==5.3.6